@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400|Fira+Sans:400");

* {
  box-sizing: border-box;
}

:root {
  /* define colors */
  --darkGreen: #caf7e3;
  --lightGreen: #edffec;
  --lightPurlpe: #f6dfeb;
  --darkPurple: #e4bad4;
  --black: #0d0d0d;
  --white: #fbfefe;
  --red: #ff5470;

  /* define color intentions */
  --primary: var(--darkPurple);
  --accent: var(--lightPurple);
  --background: var(--white);
  --danger: var(--red);
  --textColor: var(--black);
  --lineColor: var(--darkPurple);

  /* style */
  --line: 2px solid var(--lineColor);

  /* type */
  --headerText: "Fira Sans", sans-serif;
  --bodyText: "Merriweather", serif;
  --baseFontSize: 100%;
  --smallText: 0.65em;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h4: 1.25rem;

  /* elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* positioning */
  --headerHeight: 3rem;
  --containerPadding: 2.5%;
}

html {
  font-size: var(--baseFontSize);
} /*20px*/

body {
  background: var(--background);
  font-family: var(--bodyText);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

header {
  --headerBackground: var(--darkPurple);
  background-color: var(--headerBackground);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  align-items: center;
  padding: 0 var(--containerPadding);
}

header nav a {
  color: var(--white);
  text-decoration: none;
}

header nav a + a {
  padding-left: 10px;
}

p {
  margin-bottom: 1rem;
  max-width: 40em;
}

p a,
blockquote a {
  text-decoration: none;
  color: var(--black);
  border-bottom: 2px solid var(--primary);
}

blockquote {
  box-shadow: var(--level-1);
  margin: 10px;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headerText);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: 0.8rem;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
  flex-wrap: wrap;
}

.flex-around {
  --justifyContent: space-around;
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
  --gridCols: 3;
}

.layout {
  padding: calc(3em + var(--headerHeight)) var(--containerPadding);
}

.logo {
  font-size: var(--baseFontSize);
}

label {
  display: block;
  font-size: var(--smallText);
}

textarea {
  width: 100%;
  height: 5rem;
}

input,
textarea {
  padding: 4px 5px;
  border: var(--line);
  border-radius: 4px;
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
}

button {
  --buttonColor: var(--darkGreen);
  appearance: none;
  color: var(--textColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  box-shadow: var(--level-2);
  transform: 0.3s ease-in-out box-shadow;
}

button[disabled] {
  opacity: 0.4;
}

button:hover {
  box-shadow: var(--level-3);
}

button.cancel {
  --buttonColor: var(--danger);
  --textColor: var(--white);
}

button.small {
  font-size: var(--smallText);
}

@media only screen and (min-width: 550px) {
  :root {
    --baseFontSize: 125%;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }
}
